body
{
    background: #f2f2f2d0; 

}
.menu-bar
{
   text-align:center; 
   background:#6495ED;
}
.nav-logo
{
    float:left;
    padding-top:20px;
    padding-left:20px;
}
.menu-bar ul
{
    display:inline-flex;
    list-style:none;
}
.menu-bar ul li
{
    width:120px;
    margin:15px;
    padding:15px;
}
.menu-bar ul li a
{
    text-decoration:none;
    color:white;
}
.active, .menu-bar ul li:hover
{
    background:#D3D3D3;
    border-radius:3px;
}
.sub-menu
{
    display:none;
}
.menu-bar ul li:hover .sub-menu
{
    display:block;
    position:absolute;
    background:#A9A9A9;
    margin-top:15px;
    margin-left:-15px;
    
}
.menu-bar ul li:hover .sub-menu ul
{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu ul li
{
    width:150px;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child
{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover
{
    color:#b3ff00;
}

.class{
    float: left;
    width: 50%;
}

.galleryin{
    display: block;
    overflow: hidden;
}

.gallery{
    margin: 5% 5%;
    display: block;
    overflow: hidden;
    height: auto;
}

.right{
    float: right;
    width: 50%;
}
.left{
    float:left;
    width: 50%;
}
.textin1{
    font-size: 27px;
    
    line-height: 1.4;
    color: rgb(0, 0, 0);
}
.img1 {
    text-align: center;
}

#or {
    color: rgb(255, 72, 0);
    font-size: 40px;
}
table {
    margin-left: 5%;
    text-align: center;
    padding: 30px;
}

table td {
    padding: 30px;
}


.foot{
    
    background-color: black;
    color: white;
    margin: 0;
    display: block;
    clear: both;
    padding: 30px 30px;
    font-family: Montserrat;
    text-align: center;
}
.foot a{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
}
.foot li a
{
    padding-left: 0%;
    padding: 10px 15px;
}
.foot li a:hover{
    color:red;
}
.foot li{
    display: inline;

}
